*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #E9ECF8;
}

body {
    /*background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);*/
    height: 100vh;
}

main {
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 80px;
    margin-bottom: 50px;
}

.seccion__1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.logo__smarterware img {
    height: 60px;
    margin: 1rem 0 1rem 0;
}

.encriptador__contenido {
    padding: 0;
    width: 60%;
    gap: 1rem;
    margin: 0 0 0 7rem;
}

.encriptador__contenido textarea {
    border: none;
    color: #0A3871;
}

.encriptador__contenido textarea:focus {
    outline: none;
}

.encriptador__contenido textarea::placeholder {
    color: #0A3871;
}

.instrucciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    color: #495057;
}

.instrucciones img {
    margin: 8px;
}

.seccion__2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

.textoEncriptado__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFF;
/*     background-image: url(/digital_clues.jpg);
    background-repeat: no-repeat; */
    /* border: none; */
    border-radius: 24px;
    color: #0A3871;
    /* padding-left: 20px; */
    width: 60%;
    height: auto;
    position: fixed;
    gap: 10px;
}

.textoEncriptado__container img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.textoEncriptado__container: :focus {
    outline: none;
}

.texto__1 {
    background-color: #fff;
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
}

.texto__2 {
    background-color: #fff;
    color: #343A40;
    font-weight: 400;
    font-size: 16px;
}

.botonera__1 {
    display: flex;
    margin-top: 4px;

}

.boton__encriptar {
    background-color: #0A3871;
    border:  1px solid #0A3871;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    width: 328px;
    font-size: 16px;
}

.boton__desencriptar {
    background: #D8DFE8;
    border:  1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 50px;
    margin-left: 30px;
    width: 328px;
    font-size: 16px;
}

.digital__clues img {
    display: none;
}

.botonera__2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.boton__copiar {
    border:  1px solid  #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    height: 67px;
    width: 336px;
    font-size: 16px;
}